
 #header-container{
   text-align: center;
   font-size: 40px;
    color: white;
 }

/*television general*/
#container {
   max-width: 1024px;
   margin: auto;
 }
 #apagateles{
   width: 900px;
   height: 600px;
   background-color: grey;
   display: none;
   position: absolute;
   z-index: 50;
 }
/*pantalla*/
 #monitor {
   
   width: 900px;
   left: -40px;
   height: 660px;
    top:550px;
    background-color: #000000; 
    position: relative;
    border-top: 3px solid #888; 
    margin: 5%;
    padding: 2% 2% 4% 2%; 
    border-radius: 10px; 
    
    transition: margin-right 1s;
 }
 
 #monitor:after {
   content: '';
   display: block;
   position: absolute;
   bottom: 3%;
   left: 36%;
   height: .5%; 
   width: 28%;
   background: #ddd; 
   border-radius: 50%; 
   box-shadow: 0 0 3px 0 white; 
}

#monitorscreen {
   position: relative;
   background-color: #100f0f;
   background-size: cover; 
   background-position: top center;
   height: 0; 
   padding-bottom: 56.25%; 
   position: relative;
   overflow: hidden;
}

/*boton de power*/
 .btn-power-tv {
	margin-top: 35em;
   margin-left: 27em;
	position: absolute;
	width: 3em;
	height:  3em;
	background: linear-gradient(to bottom, #ffffff 0%, #5e6060 100%);
	border-radius: 50%;
	
	border: 4px rgb(255, 9, 9) solid;
	box-shadow: inset 0px 1px 2px 0px #FBFBFB, 0px 1px 1px 0px rgba(0, 0, 0, 0.71);
}

.btn-power-tv:hover {
   cursor: pointer;
	
}

.btn-power-tv:active {
   cursor: pointer;
   background: linear-gradient(to bottom, #919090 0%, #5e6060 100%);
	
}

    @media(max-width:1100px){
      #monitor{
         display: none;
      }
   
   }
 
   
