html, body{
   font-family: 'Press Start 2P', cursive;
   height: 100%;
   width: 100%;
   overflow:hidden;
   margin: 0; 
   padding: 0px;
   
   
}

#supermario {

   display: none;
   position: relative;
   ;
   
}

#supermario2 {

   display: none;
   position: relative;
   ;
   
}


.mario-game {
   position: absolute;
   top: 250px;
   left: 0;
   right: 0;
   bottom: 0;
   font-family: sans-serif;
   height: 480px;
   width: 800px;
}

.mario-game-GB {
   position: absolute;
   top: -160px;
   left: -165px;
   right: 0;
   bottom: 0;
   font-family: sans-serif;
   height: 320px;
   width: 330px;
}


.mario-game #background {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #6b88ff;
   z-index: 1;
}

.mario-game-GB #background {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: #6b88ff;
   z-index: 1;
}

.layer {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   transition: all 0.1s linear;
   background-size: cover!important;
}

#foreground {
   background: url("https://itc.yananas.com/git/mario/assets/mario_layer_1.gif");
   z-index: 4;

}

#plants {
   background: url("https://itc.yananas.com/git/mario/assets/mario_layer_2.gif");
   z-index: 3;
}

#mountains {
   background: url("https://itc.yananas.com/git/mario/assets/mario_layer_3.gif");
   z-index: 2;
}

#clouds {
   background: url("https://itc.yananas.com/git/mario/assets/mario_layer_4.gif");
   z-index: 1;
}

.mario-game-GB #marioGB {
   position: absolute;
   left: 20px;
   bottom: 40px;
   height: 72px;
   width: 71px;
   transition: left 0.1s linear;
   z-index: 3;
   background: url(https://itc.yananas.com/git/mario/assets/mario.png) left center;
   background-size: 1200px;
   background-repeat: no-repeat;
   background-position-y: 25px;
}

.mario-game #mario {
   position: absolute;
   left: 20px;
   bottom: 40px;
   height: 100px;
   width: 71px;
   transition: left 0.1s linear;
   z-index: 3;
   background: url(https://itc.yananas.com/git/mario/assets/mario.png) left center;
   background-size: 1200px;
   background-repeat: no-repeat;
   background-position-y: 25px;
}

#mario.jumping {
   animation: jump 1s ease 0s  infinite normal ;
   /*animation-fill-mode: forwards;*/

}



#mario.lookingLeft {
   background-position-x: -518px;
}
#marioGB.lookingLeft {
   background-position-x: -518px;
}

#mario.lookingRight {
   background-position-x: -610px;
}

#marioGB.lookingRight {
   background-position-x: -610px;
}





/* marcador */

.topline-mario{
   position:absolute;
}
.topline-world{
   position:absolute;
   left:55%;
}
.topline-time{
   position:absolute;
   left: 85%;
}
#bottomline-score{
   position:absolute;
   top: 90px;
}
#bottomline-coin{
   position:absolute;
   top: 50px;
   left:30%;
}
.bottomline-world{
   position:absolute;
   top: 90px;
   left:55.7%;
}
.bottomline-time{
   position:absolute;
   top: 90px;
   left:85.5%;
}
.scorebar{    
   position: absolute;
   height: 100px;
   width:100%;    
   z-index: 10;
   font-family: 'Press Start 2P', cursive;
   font-size: 180%;
   color: white;

   padding-left: 0px;
   padding-right: 50px;
   padding-top: 10px;
   line-height: 0.2;
}

.scorebar-GB{    
   position: absolute;
   height: 100px;
   width:85%;    
   z-index: 10;
   font-family: 'Press Start 2P', cursive;
   font-size: 100%;
   color: white;

   padding-left: 0px;
   padding-right: 50px;
   padding-top: 10px;
   line-height: 0.2;
}

div#block {
   position: absolute;
   width: 50px;
   height: 50px;
   left: 600px;
   top: 350px;
   z-index: 21;
}

#coin {
   position: absolute;
   z-index: -1;
   bottom: 10px;
   width: 24px;
   left: -150px;
   

}

#coinGB {
   display: block;
   position: absolute;
   z-index: -1;
   bottom: 140px;
   width: 25px;
   left: -350px;
   

}
#coin.active{
   animation: flip 0.5s normal;
   animation-fill-mode: forwards;
}


@keyframes flip {
0%   {     bottom: 10px; }
50%   { bottom:100px; }
100% { bottom:10px; }
}

